:root {
    --background-color: #060613;
    --padding-color: #1e1e2e;
    --main-color: #ff9100;
    --primary-color: #fbff00;
    --secondary-color: #15ff00;
    --trigluray-color: #ff0014;
    --quad-color:#f700ff;
    --five-o-color: #00fffa;
}
body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
html {
    cursor: progress;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0; 
    pointer-events: none;
}
.fullscreen_main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    flex-basis: 0;
}
.fullscreen_main .funny{
    background-color: var(--trigluray-color);
    /* width: 10px; */
    color: var(--five-o-color);
    text-align: center;
    transform: rotateZ(90deg);
    width: calc(100vh + 100vw);
    font-size: 0;
    margin: 0;
}
.main {
    background-color: var(--padding-color);
    width: 80%;
    min-height: calc(100vh - 20px);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    transform: skewx(calc(10deg));
}
.main * {
    transform: skewx(calc(-20deg));
}
.main h1 {
    color: var(--primary-color);
    font-size: 10vw;
}
.main p {
    color: var(--trigluray-color);
    font-size: 2vw;
    width: 50%;
}
.special_1 {
    font-size: 10vw;
    font-weight: 900;
    color: var(--main-color);
    transform: skewX(-10deg);
    text-shadow: 10px 10px 1px var(--secondary-color);
    box-shadow: -10px -10px 1px var(--trigluray-color);
}
.main a {
    color: var(--five-o-color);
    text-decoration: none;
}
.main h2 {
    color: var(--quad-color);
    font-size: 9vw;
}
.main .coolShit {
    display: flex;
}
.main .coolShit h2:hover{
    transform: skewX(-9deg) translateY(-10px);
    transition: 1s;
}
.main .subs h3 {
    color: var(--five-o-color);
    font-size: 8vw;
    transform: skewX(40deg);
    margin: 20px 0 10px;
    transition: 1s;
}
.main .subs h3:hover {
    color: var(--main-color);
    font-size: 8vw;
    transform: skewX(-90deg) translateX(-100px);
    transition: 1s;
}
.panelll {
    background-color: var(--background-color);
    border: 10px white groove;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: skewX(-10deg);
    border-radius: 100%;
}
.panelll * {
    transition: cubic-bezier(0, -10, 1, 10) 1s;
}
.panelll:hover * {
    transform: translateX(-100px);
    transition: cubic-bezier(0, -10, 1, 10) 1s;
}
.panelll h4 {
    color: var(--secondary-color);
    font-size: 5vw;
    margin: 0;
}
.panelll img {
    width: 20vw;
    transform: skewX(30deg);

}