:root {
    --background-color: #060613;
    --padding-color: #1e1e2e;
    --main-color: #ff9100;
    --primary-color: #fbff00;
    --secondary-color: #15ff00;
    --trigluray-color: #ff0014;
    --quad-color:#f700ff;
    --five-o-color: #00fffa;
}
body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100vw;
}
html {
    cursor: progress;
}
* {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
}
.firstTime{
    position: absolute; 
    top: 10px; 
    left: 10px; 
    width: calc(100vw - 20px);
    width: calc(100vh - 20px);
}
.firstTime a{
    width: 100%;
    height: 100%;
    font-size: 10vw;
    text-decoration: none;
    text-align: center;
    align-items: center;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0; 
    pointer-events: none;
}
.fullscreen_main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    flex-basis: 0;
}
.fullscreen_main .funny{
    background-color: var(--trigluray-color);
    /* width: 10px; */
    color: var(--five-o-color);
    text-align: center;
    transform: rotateZ(90deg);
    width: calc(100vh + 100vw);
    font-size: 0;
    margin: 0;
}
.main {
    margin-left: calc(100vw);
    background-color: var(--padding-color);
    width: 1500px;
    /* height: 20000px; */
    position: static;
    min-height: calc(100vh - 20px);
    display: flex;
    padding: 10px 10px 200px 10px;
    flex-direction: column;
    align-items: center;
    transform: skewx(calc(5deg)) translateX(100%);
    /* overflow-x: hidden; */
}
.main * {
    transform: skewx(calc(-20deg));
    transition: 0.1s;
}
.main *:hover {
    transform: rotateZ(1deg);
    transition: 0.1s;
}
.main h1 {
    color: var(--primary-color);
    font-size: 6rem;
}
.main p {
    color: var(--trigluray-color);
    font-size: 2rem;
    width: 50%;
}
.special_1 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--main-color);
    transform: skewX(-10deg);
    text-shadow: 10px 10px 1px var(--secondary-color);
    box-shadow: -10px -10px 1px var(--trigluray-color);
}
.main a {
    color: var(--five-o-color);
    text-decoration: none;
}
.main h2 {
    color: var(--quad-color);
    font-size: 5rem;
}
.main .coolShit {
    display: flex;
}
.main .coolShit h2:hover{
    transform: skewX(-9deg) translateY(-10px);
    transition: 0.1s;
}
.main .subs:hover {
    transform: skewX(-19deg);
}
.main .subs h3 {
    color: var(--five-o-color);
    font-size: 5rem;
    transform: skewX(40deg);
    margin: 20px 0 10px;
    transition: 1s;
}
.main .subs h3:hover {
    color: var(--main-color);
    font-size: 8rem;
    transform: skewX(-70deg) translateX(-100px);
    transition: 1s;
}
.main .subs > img {
    width: 50vh;
    transform: skewX(10deg);
}
.panelll {
    margin-top: 100px;
    background-color: var(--background-color);
    border: 10px white dotted;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: skewX(20deg);
    border-radius: 10px;
    width: fit-content;
    min-width: 800px;
    /* margin-top: 10px; */
}
.panelll:hover {
    transform: skewX(20deg) skewY(5deg);
}
.panelll * {
    transition: cubic-bezier(0.1, -1, 0.9, 1) 0.5s;
}
.panelll:hover * {
    transform: translateX(-10px) skewX(-10deg);
    transition: cubic-bezier(0.1, -1, 0.9, 1) 0.5s;
}
.panelll *:hover {
    transform: rotateZ(1deg);
    transition: 0.1s;
}
.panelll p {
    width: 400px;
}
.panelll h4 {
    color: var(--secondary-color);
    font-size: 5rem;
    margin: 0;
}
.panelll img {
    width: 20vw;
    transform: skewX(30deg);
}
.panelll a {
    font-size: 5rem;
}
.rating {
    display: flex;
}
.rating h3 {
    font-size: 3rem !important;
    padding-right: 20px;
}
.rating img {
    width: 50px;
    height: 50px;
}
.rating h3:hover {
    font-size: 4rem !important;
}
.backRight {
    transform: skewX(0deg);
}
.backRight *{
    transform: skewX(0deg);
}
.taggies {
    margin: 100px 0 0;
    display: grid;
    width: 50%;
    transform: rotateZ(0);
    gap: 20px;
    grid-auto-flow: column;
    justify-content: left;
    grid-template-rows: 1fr 1fr;
    cursor: copy;
}
.taggies div{
    width: 176px;
    height: 62px;
    border-radius: 10px;
    border: var(--main-color) solid;
    transform:  skewX(-5deg);
}
.taggies a {
    transform:  skewX(-5deg);
    cursor: crosshair;
}
.taggies a img {
    transform: skewX(0deg);
    width: 176px;
    height: 62px;
    image-rendering: crisp-edges;
}
.graphicDesign{
    transform:  rotateZ(0deg);
    align-content: center;
    text-align: center;
    color: var(--five-o-color);
    text-shadow: -1px -1px var(--trigluray-color);
    background: linear-gradient(in hsl longer hue 45deg, red 0 100%);
}
.nuhuhAI {
    align-content: center;
    text-align: center;
    color: black;
    background-color: white;
}
.xxdd {
    width: 50px;
    height: 50px;
    transform: skewX(30deg);
}
.shoutouts a {
    font-size: 3rem;
}
.shoutouts {
    transform: skewX(0deg);
    display: flex;
    flex-direction: column;
}